# Speech to text conversion artifacts
speech-to-text/audio-in
speech-to-text/audio-converted
speech-to-text/text
speech-to-text/text-sentiment
speech-to-text/text-labelled
speech-to-text/speech-svc-acc.json
speech-to-text/node_modules

# Sentiment Analysis artifacts
sentiment-analysis/training-data/tweets/*

# Miscellaneous
node_modules
speech-svc-acc.json
